{% extends "/layoults/base.twig" %}

{% block title %} SETUP INICIAL {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  {% include "/components/contact-bar.twig" %}
  {% include "/components/navbar.twig" %}

  <div class="bg-dark" style="height:600px">
  </div>
{% endblock %}


{% block javascripts %}
<script type="module" src="/src/scripts/swiper.js"></script>
{% endblock %}