{% extends "/layoults/base.twig" %}

{% block title %} SETUP INICIAL {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/src/scss/home.scss">
{% endblock %}

{% block body %}
    {% include "/components/contact-bar.twig" %}
    {% include "/components/navbar.twig" %}


   <div class="banner position-relative">

      <div class="widget text-white position-absolute text-container px-4 d-flex flex-column justify-content-center">

         
         <h1 class="titulo-header fw-bold mb-lg-4">
            <span style="color: #d2deff;">Facilite sua Jornada</span> com
            Nossa Assessoria Especializada 
         </h1>
         <p class="lead">Cuidamos de todo o processo de obtenção de vistos, garantindo uma experiência tranquila e sem complicações.</p>
         <button class="btn  btn-lg btn-primary  fw-bold mt-lg-3 botao-inicial w-50 ">
            Inicie seu Processo Agora !
         </button>

      </div>

      <img src="/src/assets/images/bannerazul.jpg" class="w-100 d-none d-lg-block" alt="Consultoria de Vistos - Aeroporto">
      <img src="/src/assets/images/aeroporto mobile.jpg" class="w-100 d-block d-lg-none" alt="Consultoria de Vistos - Aeroporto Mobile">

   </div>

   <!-- Icons -->
   <section class="icons bg-light pb-5 pt-5 px-3 px-xl-0">
      <div class="container-xl">
        <div class="row">
          <div class="col-md-4 d-flex gap-4">
            <i class="fa-solid fa-user-tie  fa-3x text-secondary"></i>
            <div>
              <h5 class="fw-bold">Consultoria Personalizada</h5>
              <p class="text-muted">
                Oferecemos orientação especializada e sob medida para ajudar você a conquistar seu visto com segurança e tranquilidade, adaptada às suas necessidades específicas.
              </p>
            </div>
          </div>

          <div class="col-md-4 d-flex gap-4">
            <i class="fas fa-rocket fa-3x text-primary"></i>
            <div>
              <h5 class="fw-bold">Processo Ágil</h5>
              <p class="text-muted">
                Com nossa experiência, garantimos que o processo de solicitação de visto seja rápido e eficiente, economizando tempo e evitando complicações desnecessárias.
              </p>
            </div>
          </div>

        <div class="col-md-4 d-flex gap-4">
            <i class="fa-solid fa-check fa-3x text-secondary"></i>
            <div>
              <h5 class="fw-bold">Alta Taxa de Aprovação</h5>
              <p class="text-muted">
                Nossa equipe de especialistas trabalha cuidadosamente para garantir que todos os detalhes sejam cobertos, aumentando significativamente suas chances de obter o visto com sucesso.
              </p>
            </div>
          </div>
        </div>
      </div>
   </section>
   

   <!-- Detalhes -->
   <section id="details" class="details my-5 mt-6">
      <div class="container">
         <div class="row g-5">
         <div class="col-lg-6 mb-5 mb-lg-0">
            <!-- Texto sobre os benefícios de tirar o visto com nossa companhia -->
            <div class="text-container d-flex flex-column justify-content-center h-100">
               <h2 class="display-6 text-primary">Por que escolher nossa assessoria para seu visto?</h2>
               <p>
               Nossa companhia oferece um serviço completo e personalizado para garantir que o processo de obtenção do seu visto seja simples, ágil e descomplicado. Contamos com uma equipe experiente que entende as exigências e particularidades de cada tipo de visto.
               </p>
               <ul class="list-group list-group-flush lh-lg">
               <li class="list-group-item">
                  <i class="fas fa-square text-primary"></i>
                  <strong>Acompanhamento personalizado:</strong> Oferecemos suporte especializado durante todo o processo, desde a preparação dos documentos até a obtenção do visto.
               </li>
               <li class="list-group-item">
                  <i class="fas fa-square text-primary"></i>
                  <strong>Redução de erros e atrasos:</strong> Nossa assessoria ajuda a evitar erros comuns que podem atrasar ou comprometer a aprovação do visto.
               </li>
               <li class="list-group-item">
                  <i class="fas fa-square text-primary"></i>
                  <strong>Atendimento rápido e eficaz:</strong> Sabemos que o tempo é essencial, por isso agilizamos o processo para que você obtenha o visto o quanto antes.
               </li>
               </ul>

               <a  
               class="btn btn-primary text-white mt-4 align-self-start"
               data-bs-toggle="modal" data-bs-target="#modal1">
               Comece Agora
               </a>
            </div>

         </div>
         <div class="col-lg-6">
            <div class="image-container h-100">
               <img src="/src/assets/images/mulher feliz.png" alt="Mulher feliz com a mala por ter conseguido seu visto" class="img-details rounded">
            </div>
         </div>
         </div>
      </div>
   </section>

<!-- Statement -->
<section class="statement mb-5">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="text-container bg-light p-5 rounded-5">
               <h2 >Especialistas em Soluções de Vistos Personalizadas para Suas Necessidades</h2>
               <p>Na CONSULTORIA VISTOS, entendemos que o processo de obtenção de um visto pode ser complexo e desafiador. É por isso que oferecemos um atendimento especializado e focado em cada cliente, garantindo que todas as etapas sejam realizadas de forma ágil e sem complicações. Nossa equipe experiente está pronta para lidar com a burocracia, economizando seu tempo e evitando erros que possam atrasar o processo. Se você precisa de um visto para estudo, trabalho, turismo ou residência, estamos aqui para tornar esse sonho uma realidade de maneira segura e eficaz.</p>
               <p class="fw-bold mt-3">Escolha a CONSULTORIA VISTOS e tenha a tranquilidade de saber que está sendo assessorado pelos melhores profissionais do setor, comprometidos com seu sucesso em cada etapa do caminho.</p>
            </div>
         </div>
      </div>
   </div>
</section>


     <!-- Detalhes 2 -->
  <section class="details my-6 mb-8">
    <div class="container">
      <div class="row g-5 ">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="img-container ">
            <img src="/src/assets/images/man.jpg" alt="Homem concentrado trabalhando" class="img-details rounded">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-container d-flex flex-column justify-content-center h-100">
            <!-- Texto sobre os profissionais da companhia -->
            <h2 class="display-6 text-primary">Profissionais Especialistas em Cada Detalhe</h2>
            <p>
              Nossos profissionais são a alma do sucesso da nossa empresa. Com anos de experiência, dedicação e conhecimento profundo sobre processos de visto, eles garantem um atendimento de excelência. Cada membro da nossa equipe é altamente qualificado e comprometido em oferecer soluções sob medida para cada cliente.
            </p>
            <ul class="list-group list-group-flush lh-lg">
              <li class="list-group-item">
                <i class="fas fa-square text-primary"></i>
                <strong>Expertise incomparável:</strong> Nossa equipe é composta por especialistas que conhecem minuciosamente as regulamentações e procedimentos de diferentes tipos de visto.
              </li>
              <li class="list-group-item">
                <i class="fas fa-square text-primary"></i>
                <strong>Atendimento personalizado:</strong> Cada cliente é tratado com atenção única, garantindo que suas necessidades sejam compreendidas e atendidas com precisão.
              </li>
              <li class="list-group-item">
                <i class="fas fa-square text-primary"></i>
                <strong>Resultados comprovados:</strong> Nossos profissionais têm um histórico de sucesso, sempre assegurando que o processo seja conduzido de forma eficiente e sem complicações.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- E-mail -->
<section class="download bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="image-container mt-n6 mb-5">
          <img src="/src/assets/images/people.png" alt="" class="img-fluid rounded">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="text-container text-white d-flex flex-column justify-content-center h-100 mb-5">
          <h2 class="fw-bold">Mantenha-se Atualizado</h2>
          <p>
            Quer saber todas as novidades sobre os melhores processos de visto, dicas de especialistas e como acelerar sua aprovação? Insira seu e-mail abaixo e receba conteúdos exclusivos que irão transformar sua experiência de viagem e imigração.
          </p>
          <form>
            <div class="input-group mb-3 d-flex justify-content-center">
              <input 
              type="email" 
              class="form-control"
              placeholder="Insira seu E-mail">
              <button class="btn btn-primary text-white rounded-end">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

  {% include "/components/footer.twig" %}
{% endblock %}


{% block javascripts %}
<script type="module" src="/src/scripts/swiper.js"></script>
{% endblock %}