<style>
.contact-bar {
  position: absolute;
  top: 0;
}
.contact-bar a{
  height:100%;
}

.contact-bar i {
  margin: 0;
  margin-top: 3px
  
}
</style>

  <div class="container contact-bar ">
    <div class="row p-2 position-relative ">
      <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="social-icons mx-lg-auto  me-auto">
          <a href="#" class="text-decoration-none text-light mx-2">
            <i class="fab fa-facebook-f h5"></i>
          </a>
          <a href="#" class="text-decoration-none text-light mx-2">
            <i class="fa-brands fa-x-twitter h5"></i>
          </a>
          <a href="#" class="text-decoration-none text-light mx-2">
            <i class="fa-brands fa-instagram h5"></i>
          </a>
        </div>
        <div class="phone-number position-absolute end-0 me-4 d-flex align-items-center">

            <a href="#" class="text-decoration-none fs-6 d-flex aling-items-center gap-2 ">
              <i class="fa-brands fa-whatsapp text-success mb-0 h5"></i>
              <span class="fw-semibold text-light">(31) 99390-0786</span>
            </a>

        </div>
  </div>

    </div>
  </div>
</div>