<link rel="stylesheet" href="/src/scss/footer.scss">
<footer  style="background-color: #040619;">
  <div class="container py-6">
    <div class="row text-white">
      <div class="col-md-4 col-sm-6 px-5">
        <img src="/src/assets/images/logo fvistos horizontal branco.svg" class="ms-n5 mb-3" alt="Logo vetorizado FVistos">
        <p class="mb-4" >
        Oferecemos assesorias de vistos para uma obtenção rápida, segura e personalizada. 
        Nossos especialistas estão prontos para facilitar o seu processo.</p>

        <div class="logos-footer d-flex gap-2">

            <a href="#" class="text-decoration-none p-2  d-flex align-items-center btn btn-outline-primary justify-content-center">
              <i class="fa-brands h3 fa-instagram  text-light"></i>
            </a>
            <a href="#" class="text-decoration-none p-2  d-flex align-items-center btn btn-outline-primary justify-content-center">
              <i class="fa-brands h3 fa-facebook  text-light"></i>
            </a>
            <a class="text-decoration-none p-2  d-flex align-items-center btn btn-outline-primary justify-content-center" href="#">
              <i class="fa-brands h3 fa-x-twitter  text-light" style=""></i>
            </a>
            <a href="#" class="text-decoration-none p-2  d-flex align-items-center btn btn-outline-primary justify-content-center">
              <i class="fab h3 fa-linkedin-in"></i>
            </a>
          
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 px-5">
        <h2 class="mb-4 fw-bold">Acesso Rápido</h2>
        <div class="d-flex flex-column h-100 gap-3 quick-links">
          <a href="#">- Assessoria</a>
          <a href="#">- Sobre a Empresa</a>
          <a href="#">- Contato</a>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 px-5">
          <h2 class="mb-4 fw-bold">Contato</h2>
          <div class="contact-footer d-flex flex-column">
            <p>
              <i class="fa-solid fa-phone me-2"></i>
              (31) 99999-9999
            </p>
            <p>
              <i class="fa-solid fa-location-dot me-2"></i>
              Av. Dom Pedro II, 129 - Carlos Prates, Belo Horizonte - MG, 30710-010
            </p>
            <p>
              <i class="fa-solid fa-envelope me-2"></i>
              empresadevistos@email.com
            </p>
          </div>

      </div>

    </div>
  </div>
  <div class="footer-end">
  <p class="text-center py-3 m-0">© 2024 FVistos Assessoria. Todos os direitos reservados</p>
  </div>
</footer>