<link rel="stylesheet" href="/src/scss/navbar.scss">
<nav class="navbar navbar-light navbar-expand-lg shadow"> 
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/src/assets/images/logo fvistos horizontal.svg" class="logo-tfvistos" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-2 " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item fw-semibold">
          <a class="nav-link" aria-current="page" href="/">Início</a>
        </li>
        <li class="nav-item fw-semibold">
          <a class="nav-link" aria-current="page" href="#">Sobre Nós</a>
        </li>
        <li class="nav-item fw-semibold">
          <a class="nav-link" aria-current="page" href="#">Assessoria</a>
        </li>
        <div class="ps-lg-5 mt-3 mt-lg-0 ">
          <a class="btn btn-outline-secondary rounded-5 fw-semibold" type="submit">Contato</a>
        </div>
      </ul>

    </div>
  </div>
</nav>