.banner .widget {
  top: 44%;
  width: 50%;

  transform: translateY(-50%);
  left: 4em;
}

@media(min-width: 576px) and (max-width: 776px) {
  .banner img {
    height: 600px;
    object-fit: cover;
  }
}

@media(max-width: 576px) {
  .banner .widget {
    left: 1em;
    width: 75%;
  }
  .banner .widget {
    font-size: 2em;
  }
  .banner img {
    height: 600px;
    object-fit: cover;
  }
  .banner .widget h1 {
    font-size: 1.2em !important;
  } 
  .banner .widget p {
    font-size: 0.5em;
  }
}