


body {
  overflow-x: hidden;
  overflow-x: clip !important;

}



// Banner
.banner {

  //background: url("../assets/images/fundoazul.jpg");
  background: url("../assets/images/fundoestrelado2.jpg");
  object-fit: cover;
  max-width: 1920px;
  margin: 0 auto;
}

.banner img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: none;
  width: 100%;
}

.banner .titulo-header {
  font-size: 3.3rem;
}

.banner .text-container {
  height: 100%;
}

.botao-inicial {
  font-size: 1rem;
  width: 50%;
}



.img-details {
  height: 600px;
  width: 100%;
  object-fit: cover;

}

.details h2 {
  font-weight: 500;
}

//Processo Visto
.processo-visto h2 {
  font-weight: 500;
}

.processo-visto .card {
  height: 320px;
}

//card vistos
.card-vistos {
  background-color: white;
  transition: 0.4s;
}

.card-vistos:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transform: scale(1.01);
}

//Swiper


@media (min-width: 1281px) and (max-width: 1680px) {
  .banner .titulo-header {
    font-size: 2.5rem;
  }

  .banner p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .banner .text-container {
    padding-left: 24px !important;
  }
  .banner .titulo-header {
    font-size: 2rem;
    margin-bottom: 12px !important;
  }

  .banner p {
    font-size: 1rem;
    margin-bottom: 0px !important;
  }

  .botao-inicial {
    font-size: 1rem;
    white-space: no-wrap;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner {
    padding: 6rem 3rem;
  }
  .banner .text-container {
    padding-left: 5px !important;
  }
  .banner .titulo-header {
    font-size: 2rem;
    margin-bottom: 12px !important;
  }

  .banner p {
    font-size: 1rem;
    margin-bottom: 12px !important;
  }

  .botao-inicial {
    font-size: 1rem;
    width: 100%;
  }


}

@media (max-width: 575px) {
  //Banner
  .banner {
    padding: 4rem 0.4rem;
  }
  .banner .text-container {
    padding-left: 5px !important;
  }
  .banner .titulo-header {
    font-size: 2rem;
    margin-bottom: 24px !important;
  }

  .banner p {
    font-size: 1rem;
    margin-bottom: 24px !important;
  }

  .botao-inicial {
    padding: 8px 12px;
    width: 100%;
    font-size: 0.9rem;
  }
  //HEADER
  header {
    margin-top: 83px !important;
  }

  //Details




  // .details img, .details .container {
  //   display: none;
  // }


}
