$primary: #234091;
.navbar .navbar-brand img {
  width: 200px;

}
.navbar{
  background-color: #f2f6ff;
}

nav .container {
  padding: 0 !important;
}

@media (max-width: 561px) {
  nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;

  }
  nav .container{
    margin: 0 24px;
  }

  .navbar .navbar-brand img {
    width: 150px;
  }
  
}